.container{

    background-color: rgb(126, 165, 42);
    text-decoration-line: underline;
    margin: auto;
    height: auto;
    width: auto;
}

.h1{
    color: blue;
    text-align: center;
    margin: auto;
    padding: 20px;
    font-size: large;
    font-weight: bold;
}